.DS_Store
sprawozdanie.aux
sprawozdanie.fdb_latexmk
sprawozdanie.fls
sprawozdanie.log
sprawozdanie.synctex.gz
sprawozdanie.toc
3xex.png
ee.png
sieczna.png
w1.png
w2.png
w3.png
w4.png
w5.png
w6.png
w7.png
wykres1.png
wykres2.png